section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 700px;
    max-width: 600px;
    margin: auto;
    background-color: rgb(220, 237, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    font-weight: 100;
    color: #444444;
}


section * {
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 1em;
}
h1 {
    background-color: #444444;
    padding: 0.5em ;
    color: aliceblue ;
    font-weight: 200;

}

button {
    border: none;
    padding : 0.5em 1.5em;
    background-color: lightskyblue;
    border-radius: 15px;
    color: aliceblue;
    transition-duration: 0.2s;

}

button:hover {
    color: #444444;
    padding: 0.5em 2.5em;
    transition-duration: 0.2s;
}
input {
    border: none;
    padding: 0.5em 2em;
    box-shadow: 1px 1px 15px 2px rgb(246, 246, 246);
}

#decrypt {
    background-color: lightgreen;
}

